body {
  padding: 0;
  margin: 0;
  background: #1a1925;
}

header {
  padding-top: 0.75%;
}

img {
  width: 57%;
  height: 20%;
}

h1,
h2,
h3 {
  color: white;
  width: 100%;
}

nav {
  display: inline-flex;
  margin: 0 9.16%;
}

nav h2 {
  padding: 0 4vw;
}

.header_banner {
  width: 100%;
}

/*slider*/
.items {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.item{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(35px);
    border-radius: 30px;
    padding: 2.5vh 2.5vw;
}

.slider-image{
    width: 24vw;
    height: 53vh;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24vw;/*540px*/
  height: 127vh;/*883px*/
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

/* .item img {
  width: 30%;
  height: 30%; 
  object-fit: cover;
} */

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(35px);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}
/*end slider*/

.line {
    margin-left: 20%;
    margin-bottom: 10%;
    width: 7px;
}
